<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio streaming app using gridFS</title>
</head>
<body>
    <audio controls id="audioPlayer">
        <source src='/api/meditation/download/60fa856fc0dbe613ac9b13bb' type="audio/mpeg">
      Your browser does notsupport the audio element.
    </audio>
    <audio controls id="audioPlayer">
        <source src='/api/sleep/download/60faa55b27432a28d426406e' type="audio/mpeg">
      Your browser does notsupport the audio element.
    </audio>
    <audio controls id="audioPlayer">
        <source src='/api/relax/download/60faa66927432a28d426406f' type="audio/mpeg">
      Your browser does notsupport the audio element.
    </audio>
</body>
</html>