<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Breathings App | NOTIFICATIONS</title>
</head>

<body>
    <div class="loader">
        <img src="../static/images/logo.png" alt="Loading..." />
        <span>Loading...</span>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="../static/images/logo.png" alt="Breathings"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link p-3" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="/users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="/meditationTracks">Meditation Tracks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="/sleepTracks">Sleep Tracks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="/relaxTracks">Relax Tracks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="/liveTracks">Live Tracks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="/notification">Notification</a>
                        </li>
                    </ul>
                    <!-- <form class="d-flex">
                        <button class="btn btn-secondary logBtn" type="submit" id="loginBtn"><a href="/login">Login </a></button>
                    </form>
                    <form class="d-flex">
                        <button class="btn btn-danger logBtn" id="logoutBtn"><a href="/">Logout Admin </a></button>
                    </form> -->
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="tracksSection"> 
            <h2>Breathing-App Notification details</h2>
            <button type="button" class="btn btn-success addNotificationBtn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo" id="addNotificationBtn">Send Notification</button>
            <input class="form-control me-2 search" id="notificationsSearch" type="search" placeholder="Filter by searching" aria-label="Search">
            <span id="tracksCount"></span>
            <div class="container">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                            <th scope="col">Role</th>
                            <th scope="col">Delete Notification</th>
                        </tr>
                    </thead>
                    <tbody id="notificationsTable"></tbody>
                </table>
                <div id="unauthorizedWarning" >
                    <p>Unauthorized Access, Plz Login</p><button class="btn btn-secondary logBtn" type="submit" id="loginBtn"><a href="/login">Login </a></button>
                </div>
                <div id="empty">
                    <p>No Notifications to show (Empty)</p>
                  </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" id="uploadNotification" action="/uploadNotification" method="POST" enctype="multipart/form-data">
                            <div class="col-md-10">
                                <label for="message" class="form-label">Message</label>
                                <input type="text" name="message" class="form-control" id="message" required>
                            </div>
                            <div class="col-md-7">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" name="date" class="form-control" id="date" required>
                            </div>
                            <div class="col-md-4">
                                <label for="premium" class="form-label">Premium</label>
                                <select id="premium" name="premium" class="form-select">
                                    <option selected>true</option>
                                    <option>false</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="../static/js/notifications.js"></script>

</html>